@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
    background-color: rgb(39, 39, 39);
}

p.name {
    font-family: 'Poppins', sans-serif;
    color: white;
    height: 8em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    margin-bottom: -215px;
}
p.desc {
    font-family: 'Poppins', sans-serif;
    color: white;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    margin-bottom: -10px;
}
p.invite {
    font-family: 'Poppins', sans-serif;
    color: white;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    margin-bottom: -53px;
}
p.cmds {
    font-family: 'Poppins', sans-serif;
    color: white;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    margin-bottom: 50px;
}
p.skils {
    font-family: 'Poppins', sans-serif;
    color: white;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    margin-bottom: 50px;
}
p.contacts {
    font-family: 'Inter', sans-serif;
    color: white;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    margin-bottom: -15px;
}
p.mail {
    font-family: 'Inter', sans-serif;
    color: white;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin-bottom: -15px;
}
p.ds {
    font-family: 'Inter', sans-serif;
    color: white;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin-bottom: -15px;
}
p.vk {
    font-family: 'Inter', sans-serif;
    color: white;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}